PORT=5001
MONGO_URI=mongodb://localhost:27017/video-microservice
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_BUCKET_NAME=your_bucket_name
FRONTEND_URL=http://localhost:3000
